<form action="/signup" method="post" class="shadow" id="account-form">
    <h1 id="form-header">Sign Up</h1>
    <label class="form-label">First Name <input name="firstName" required type="text"
            class="form-control" pattern="[A-Za-z]+" title="Only alphabetical characters allowed" maxlength="255" /></label>
    <label class="form-label">Last Name <input name="lastName" required type="text"
            class="form-control" pattern="[A-Za-z]+" title="Only alphabetical characters allowed" maxlength="255" /></label>
    <label class="form-label">Email <input name="email" required type="email"
            class="form-control" /></label>
    <label class="form-label">Password <input name="password" required type="password" class="form-control" /></label>
    <label class="form-label">Phone Number <input name="phone" required type="tel"
            class="form-control" oninput="format(this)" pattern=".{14}" title="Please enter your full 10 digit phone number" maxlength="14"/></label>
    <label class="form-label">Address <input name="address" required type="text" class="form-control"
            maxlength="255" /></label>
    <label class="form-label">City <input name="city" required type="text" class="form-control"
            maxlength="255" /></label>
    <label class="form-label">Province
        <select required class="form-select" name="province" id="province">
            <option value="">Select Country</option>
        </select>
    </label>
    <label class="form-label">
        Country
        <br />
        <div class="form-control">
            <label class="form-check-label"><input class="form-check-input" required type="radio" name="country" id="country-CA" value="CA" onclick="toggleCountry(1)"/> Canada</label><br />
            <label class="form-check-label"><input class="form-check-input" type="radio" name="country" id="country-US" value="US" onclick="toggleCountry(0)" /> US</label><br />
        </div>
    </label>
    <button id="submit-button" class="btn btn-primary" type="submit">Sign Up!</button>
</form>

<script src="/static/provinces.js"></script>
<script src="/static/phone_format.js"></script>